/* start variables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;
    --main-duration:0.5s;
}
/* end variables */
/* start global rules */
*{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    background-color: #f6f6f6;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium  */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media(min-width:1200px){
  .container{
      width:1170px;
  }  
}
/* end global rules */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width:60px;
}
.header .links{
    position: relative;
}