/* start variables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;
    --main-duration:0.5s;
}
/* end variables */
/* start global rules */
*{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    /* background-color: #f6f6f6; */
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium  */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media(min-width:1200px){
  .container{
      width:1170px;
  }  
}
/* end global rules */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width:60px;
}
.header .links{
    position: relative;
}
.container .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
  justify-content: flex-end;
   
}
.container .links .icon span{
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}
.container .links .icon span:first-child{
    width: 100%;
}
.container .links .icon span:last-child{
    width: 100%;
}
.container .links .icon span:nth-child(2){
    width: 60%;
}
.container .links:hover .icon span:nth-child(2) {
    width: 100%;
    transition: var(--main-duration);
}
.header ul{
    list-style: none;
    margin:0;
    padding: 0;
   min-width:200px;
   background-color: #f6f6f6;
   right: 0;
  position: absolute;
   top: calc(100% + 15px);
   display: none;
   z-index: 1;

}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child)  {
   border-bottom: 2px solid #333;
}
.header .links ul::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    border-width: 15px;
    right: 0;
    top:-30px;
}
.header .links:hover ul {
    display: block;
}
/* start landing section */
.landing{
    position: relative;
    background-size: cover;
    background-image: url(../images/landing.jpg);
    height:calc(100vh - 64px) ;
}
.landing h1{
    margin: 0;
    font-weight: bold;
    font-size: 3.125rem;
    color: var(--main-color);
}
.landing .into-text p{
    font-size:1.18rem ;
    line-height: 1.8;
}
.landing .into-text{
    position: absolute;
    text-align: center;
    width: 18.75rem;
    max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* end landing section */
